/*.term path:hover{
  stroke-width:10px;
}*/

body {
  font: 10px sans-serif;
}
.main-term {
  height: 1.2em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis {
  font: 8px sans-serif;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.vis-title{
  font: 16px sans-serif;
}
.termDiv{

  display: table;
}
.main-term{
  font-size: 33px;
  display: table-cell;
  padding-right: 5px;
}
.translation{
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  color: #888;
}

.table-center {
  margin-left:auto;
  margin-right:auto;
}
.google{
  font-size: 10px;
}

.primary-color-list{
  font-size: 13px;
  margin: 10px;
}

/*.arrow {
  stroke-width:5;
  stroke:#000;
  stroke-dasharray:5, 5;
}*/

